@charset "utf-8";
/* CSS Document */

#contenu {
	height:300px;
	width:1000px;
	margin:auto;
}
	
#Bleu{
	height:300px;
	background-color:blue;
}

#Rouge1{
	height:50px;
	width:150px;
	margin:10px;
	top:20px;
	background-color:red;
	position:relative;
}

#Rouge2{
	height:50px;
	width:150px;
	left:800px;
	background-color:red;
	position:absolute;
}
			
#Vert {
	width:250px;
	height:600px;
	background-color:green;
	float:left;
}

#Jaune{
	width:250px;
	height:600px;
	background-color:yellow;
	float:left;
}	
	
#rose{
	width:250px;
	height:600px;
	background-color:pink;
	float:left;
}
	
#gris{
	width:250px;
	height:600px;
	background-color:grey;
	float:left;
}

#Noir{
    height:100px;
	width:1000px;
	clear:both;
	background-color:black;
}