@charset "utf-8";
/* CSS Document */

#contenu {
	height:1000px;
	width:1200px;
	margin:auto;
	overflow:hidden;
}
	
#Rose{
	height:300px;
	background-color:pink;
}

#Blanc{
	width:150px;
	height:50px;
	margin-top:20px;
	margin-right:25px;
	float:right;
}

#Pub2{
	height:50px;
	width:200px;
	float:left;
	background-color:green;
}
			
#Menu {
	height:40px;
	background-color:blue;
	float:left;
}

#Pub1{
	height:50px;
	width:200px;
	float:right;
	background-color:green;
	
}	
	
#Contenu{
	width:800px;
	min-height:600px;
	background-color:red;
	float:left;
}
	
#Pub3{
	width:800px;
	height:60px;
	position:relative;
	background-color:green;
}

#Noir{
    height:100px;
	width:1200px;
	clear:both;
	background-color:black;
}